html, body {
    height: 100%;
    background-color: #EFEFEF;
}

body.login div {
    height: 100vh;
    display: flex;
    align-items: center;
}

.btn-purple {
    background-color: #7C00FB;
    color: white;
    border: 1px solid #7C00FB;
}

.btn-purple:hover {
    background-color: #5d00ba
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  

h1{
    font-family: "Libre Baskerville", serif;
    margin-left: 80px;
    margin-bottom: 30px;
    font-weight: 200;
}

.Vinho{
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    color: #7C00FB;
}
