html, body {
    height: 100%;
    background-color: #EFEFEF;
    transition: 0.5s;
}

body.login div {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-purple {
    background-color: #7C00FB;
    color: white;
    border: 1px solid #7C00FB;
}

.btn-purple:hover {
    background-color: #5d00ba
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  

h1{
    font-family: "Libre Baskerville", serif;
    margin-left: 80px;
    margin-bottom: 30px;
    font-weight: 200;
}

.Vinho{
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    color: #7C00FB;
}

.trilho{
    display: flex;
    width: 80px;
    height: 40px;
    border-radius: 160px;
    background-color: #333;
    cursor: pointer;
    position: relative;
}

.trilho .botao{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #EFEFEF;
    transform: scale(0.8);
    position: absolute;
    left: 0px;
    transition: 0.5s;
}

.trilho.dark{
    background-color: #EFEFEF;
}

.trilho.dark .botao{
   left: 40px;
   background-color: black;
}

body.dark{
    background-color:rgb(25, 25, 25) ;
    color: white;
}


